@import url(./reset.css);

/* Fonts */
@import url(./fonts/Georgia/stylesheet.css);
@import url(./fonts/Lato/stylesheet.css);

/* Sections */
@import url(./sections/header.css);
@import url(./sections/home.css);
@import url(./sections/how-it-works.css);
@import url(./sections/story.css);
@import url(./sections/product.css);
@import url(./sections/card.css);
@import url(./sections/footer.css);

/* General CSS */
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1399px) {
  .container {
    width: 100%;
  }
}

.container-wide {
  width: 1536px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 991px) {
  body {
    font-size: 18px;
  }

  .btn-big {
    padding: 30px;
  }
}
